<div class="profile-container">
  <div class="profile-header">
    <% if current_user.image %>
     <%= image_tag current_user.image, class: "avatar-big" %>
      <% else %>
      <%= image_tag "placeholder-avatar.jpg", width: 100 %>
     <% end %>
  </div>


  <div class="profile-id">
    <h4><%= current_user.first_name.upcase %></h4>
    <p> <%= current_user.email %> </p>
  </div>

  <div class="profile-nav">
    <div class="nav-piscines nav-active">
      <h4> Piscines </h4>
    </div>
    <div class="nav-programme">
      <h4> Mon programme </h4>
    </div>
  </div>

  <% if Program.where(:user_id == current_user).empty? %>
    <div class="pools-tab" >
      <div id="map" style="width: 100%; height: 300px;"
      data-markers="<%= @markers.to_json %>">
      </div>
    </div>

    <div class="placeholder-no-program">
      <%= link_to 'Créez votre programme', new_program_path, type: 'button',class: 'btn btn-default btn-block btn-lg btn-create-program' %>
    </div>

    <% else %>
    <div class="pools-tab" >
      <div id="map" style="width: 100%; height: 300px;"
      data-markers="<%= @markers.to_json %>">
      </div>
    <div class="space-between"></div>
       <div class="pool-card-lg-1">
          <div class="card-status"><%= @pool_near_me[0].open %></div>
              <h3><%= @pool_near_me[0].name.downcase.capitalize %></h3>
              <p><%= @pool_near_me[0].address %></p>
        </div>

        <div class="pool-card-lg-2">
          <div class="card-status"><%= @pool_near_me[1].open %></div>
          <h3><%= @pool_near_me[1].name.downcase.capitalize %></h3>
           <p><%= @pool_near_me[1].address %></p>
        </div>
    </div>

    <div class="space-between"></div>

    <div class="program-tab hidden">
        <div class="program-level">
          <div class="title">
          <p>Niveau</p>
          </div>
          <div class="dropdown-levels">
            <%= simple_form_for @program do |f| %>
            <%= f.input :swimming_level, collection: ["debutant", "intermediaire", "expert"] , label: false, as: :select %>
          </div>
        </div>

        <div class="program-hours-title">
          <p>Créneaux</p>
        </div>
        <div class="program-hours-days">
          <% @program.cards_builder.keys.each do |day| %>
            <% if ["1_lundi","2_mardi","3_mercredi","4_jeudi","5_vendredi","6_samedi","7_dimanche"].include? day %>
              <div class="row">
                <div class="col-sm-12">
                  <p>
                    <%= day[2..-1].capitalize %>
                  </p>
                  <%= f.input "#{day}_start", as: :text, input_html: { value: "" }, label: false, placeholder: @program.cards_builder[day]["start"] %>
                  <%= f.input "#{day}_end", as: :text, input_html: { value: "" }, label: false, placeholder: @program.cards_builder[day]["end"] %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="program-pools-title">
          <h4>Piscines</h4>
          <p>Choisissez l'adresse à proximité de laquelle vous souhaitez nager</p>
          <div class="closest-pool1">
            <% @program.cards_builder.each do |key, value| %>
              <% if value["okpool"]["open"] == true %>
                <div class="status-bar-open">
                </div>
              <% else %>
                <div class="status-bar-close">
                </div>
              <% end %>
              <div class="pool-card-large">
                <div class="title">
                  <%= value["okpool"]["name"] %>
                </div>
                <div class="address-pool">
                  <%= value["okpool"]["address"] %>
                  <%= value["okpool"]["metro"] %>
                </div>
                <div class="opening-hours">
                  <p>Horaires d'ouverture :</p>
                  <%= value["okpool"]["opening_times"] %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="pools-address-details">
          <div class="row">

            <% @program.cards_builder.keys.each do |day| %>
              <% if ["1_lundi","2_mardi","3_mercredi","4_jeudi","5_vendredi","6_samedi","7_dimanche"].include? day %>
                <%= f.input "#{day}_address", as: :text, input_html: { value: "" }, label: day[2..-1], placeholder: @program.cards_builder[day]["okpool"]["address"] %>
              <% end %>
            <% end %>

          </div>
        </div>
        <div class="end-button text-center">
          <%= link_to 'Supprimer votre programme', program_delete_to_google_path(@program), type: 'button', class: 'btn btn-default btn-lg' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>














