<% if params[:sweetalert] %>
  <span id="sweetalert-trigger"></span>
<% end %>
<div class="profile-container">
  <div class="profile-header">
    <% if current_user.image %>
     <%= image_tag current_user.image, class: "avatar-big" %>
      <% else %>
      <%= image_tag "placeholder-avatar.jpg", width: 100 %>
     <% end %>
  </div>


  <div class="profile-id">
    <% if current_user.first_name %>
      <h4><%= current_user.first_name.upcase %></h4>
    <% else %>
      <h4>Nageur de compet'</h4>
    <% end %>
    <p><i class="fa fa-envelope" aria-hidden="true"></i>
 <%= current_user.email %> </p>
  </div>

  <div class="profile-nav">
    <div class="nav-piscines nav-active">
      <h4> Piscines </h4>
    </div>
    <div class="nav-programme">
      <h4> Programme </h4>
    </div>
  </div>

  <% if Program.where(:user_id == current_user).empty? %>
    <div class="pools-tab" >
      <div id="map" style="width: 100%; height: 300px;"
      data-markers="<%= @markers.to_json %>">
      </div>
    </div>

    <div class="placeholder-no-program">
      <%= link_to 'Créez votre programme', new_program_path, type: 'button',class: 'btn btn-default btn-block btn-lg btn-create-program' %>
    </div>

    <% else %>
    <div class="pools-tab" >
      <div id="map" style="width: 100%; height: 300px;"
      data-markers="<%= @markers.to_json %>">
      </div>
    <div class="space-between"></div>
      <div class="pool-card-lg-1">
        <% if @pool_near_me[0].open == true %>
          <div class="card-status">
            <p class="status-open">Ouvert</p>
          </div>
        <% else %>
          <div class="card-status">
            <p class="status-close">Fermée</p>
          </div>
        <% end %>
        <h3>
          <%= @pool_near_me[0].name.downcase.capitalize %>
        </h3>
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <%= @pool_near_me[0].address %>
          <%= @distance_from_user.round(2) %>Km
        </p>
      </div>

        <div class="pool-card-lg-2">
          <div class="card-status">CLOSED</div>
          <h3><%= @pool_near_me[1].name.downcase.capitalize %></h3>
           <p><i class="fa fa-map-marker" aria-hidden="true"></i>
 <%= @pool_near_me[1].address %></p>
        </div>
    </div>


    <div class="program-tab hidden">
        <div class="program-level">
          <div class="title">
          <p>Niveau</p>
          </div>
          <div class="dropdown-levels">
            <h2> <%= @program.swimming_level.capitalize %> </h2>
          </div>
        </div>

        <div class="program-hours-title">
          <p>Créneaux</p>
        </div>
        <div class="program-hours-days">
          <% @program.cards_builder.keys.each do |day| %>
            <% if ["1_lundi","2_mardi","3_mercredi","4_jeudi","5_vendredi","6_samedi","7_dimanche"].include? day %>
              <div class="row">
                <div class="col-sm-12">
                  <p>
                    <%= day[2..-1].capitalize %>
                  </p>

                  <p>
                    <%= @program.cards_builder[day]["start"] %>
                    <%= @program.cards_builder[day]["end"] %>
                  </p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="program-pools-title">
          <h2>Piscines</h2>
          <div class="closest-pool1">
            <% @program.cards_builder.each do |key, value| %>
              <% if value["okpool"]["open"] == true %>
              <% else %>
                <div class="status-bar-close">
                </div>
              <% end %>
              <div class="pool-card-large">
                <div class="title">
                  <%= value["okpool"]["name"] %>
                </div>
                <div class="address-pool">
                  <%= value["okpool"]["address"] %>
                  <%= value["okpool"]["metro"] %>
                </div>
                <div class="opening-hours">
                  <%= value["okpool"]["opening_times"] %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      <% end %>
      <div class="end-button">
        <%= link_to "Supprimer votre programme", program_path(@program), method: :delete, type: "button", class: 'btn btn-danger btn-lg bnt-block' %>
      </div>
    </div>

</div>














