<div class="container signin-body">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-style-5">
          <form>
            <fieldset>
              <legend><span class="number">1</span> S'enregistrer</legend>
              <%= f.input :email, required: true, autofocus: true, class: "form-style-5-style", label: "Email" %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length), label: "Mot de passe", class: "form-style-5-style" %>
              <%= f.input :password_confirmation, required: true, label: "Confirmation du mot de passe", class: "form-style-5-style" %>
            </fieldset>
            <%= f.button :submit, "S'enregistrer", class: "form-style-5-button" %>
            <%- resource_class.omniauth_providers.each do |provider| %>

              <%= link_to "S'enregistrer avec Google", omniauth_authorize_path(resource_name, provider), class: "google-login-btn" %>
            <% end -%></br>
          <%= link_to "Se connecter", new_session_path(resource_name) %>
          </form>
        </div>

      <% end %>
    </div>
  </div>
</div>


