<h1>Program#new</h1>

<h2>Niveau de natation</h2>

<%= simple_form_for @program do |f| %>
<%= check_box_tag(:swimming_level) %>
<%= label_tag(:swimming_level, "Débutant") %>
<%= check_box_tag(:swimming_level) %>
<%= label_tag(:swimming_level, "Intermédiaire") %>
<%= check_box_tag(:swimming_level) %>
<%= label_tag(:swimming_level, "Expert") %>

<h2>Jours de Nage</h2>

<% ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"].each do |day|%>
<%= check_box_tag(:cards_builder) %>
<%= label_tag(:cards_builder, day) %>
<% end %>

<%= f.submit "créer programme", class: "btn btn-primary" %>
<% end %>
