<div id="div-heures"  style="background-image: url(<%= image_path 'background-form.png'%>)">

<h2 class ="form-title">Vos créneaux</h2>

<div class="heures">

  <div class="ariane-container">
    <div class="ariane-item">1</div>
    <div class="ariane-item">2</div>
    <div class="ariane-item-active">3</div>
    <div class="ariane-item">4</div>
    <div class="ariane-item ariane-last-item">5</div>
  </div>

<%= simple_form_for @program do |f| %>
  <% @program.cards_builder.keys.each do |day| %>
    <% if ["lundi","mardi","mercredi","jeudi","vendredi","samedi","dimanche"].include? day %>
    <div class="jours">
    <%= day.capitalize %>
    </div>

      <div class="container-form-heures">
        <%= f.input "#{day}_start", as: :text, input_html: { value: "" }, label: false, placeholder: "12h00" %>
        <%= f.input "#{day}_end", as: :text, input_html: { value: "" }, label: false, placeholder: "13h00" %>
      </div>

      <% end %>
    <% end %>

</div>
<%= image_tag "Path 2.png", id: "fleche-bas2" %>
</div>

<div id="div-adresses" class="hidden"  style="background-image: url(<%= image_path 'background-form.png'%>)">

<div class="ariane-container">
  <div class="ariane-item">1</div>
  <div class="ariane-item">2</div>
  <div class="ariane-item">3</div>
  <div class="ariane-item-active">4</div>
  <div class="ariane-item ariane-last-item">5</div>
</div>

<h2 class ="form-title">Vos piscines :</h2>
<p id="text-address">Choisissez l'adresse à proximité de laquelle vous souhaitez nager</p>
<% @program.cards_builder.keys.each do |day| %>
    <% if ["lundi","mardi","mercredi","jeudi","vendredi","samedi","dimanche"].include? day %>
      <%= f.input "#{day}_address", as: :text, input_html: { value: "" }, label: day %>
  <% end %>
   <% end %>
<%= image_submit_tag "Path 2.png", id: "arrow_last" %>
<% end %>

</div>
