<div id="div-heures"  style="background-image: url(<%= image_path 'background-form.png'%>)">

<h2 class ="form-title">Vos créneaux</h2>

<div class="heures">

  <div class="go-back" id="go-back2" >
      <%= link_to new_program_path do %>
      <%= image_tag "Arrow-left.png", width: 14 %>
      <% end %>
  </div>

  <div class="go-forward no-go" id="go-forward3">
    <%= image_submit_tag "Arrow-right.png", width: 14 %>
  </div>

<%= simple_form_for @program do |f| %>
  <% @program.cards_builder.keys.each do |day| %>
    <% if ["1_lundi","2_mardi","3_mercredi","4_jeudi","5_vendredi","6_samedi","7_dimanche"].include? day %>
    <div class="jours">
    <%= day[2..-1].capitalize %>
    </div>

      <div class="container-form-heures">
        <select class="form-control select optional" name="program[<%= day %>_start]" id="program_<%= day %>_start"><option value=""></option>
       <option value="00h00">00h00</option>
            <option value="00h30">00h30</option>
            <option value="01h00">01h00</option>
            <option value="01h30">01h30</option>
            <option value="02h00">02h00</option>
            <option value="02h30">02h30</option>
            <option value="03h00">03h00</option>
            <option value="03h30">03h30</option>
            <option value="04h00">04h00</option>
            <option value="04h30">04h30</option>
            <option value="05h00">05h00</option>
            <option value="05h30">05h30</option>
            <option value="06h00">06h00</option>
            <option value="06h30">06h30</option>
            <option value="07h00">07h00</option>
            <option value="07h30">07h30</option>
            <option value="08h00">08h00</option>
            <option value="08h30">08h30</option>
            <option value="09h00">09h00</option>
            <option value="09h30">09h30</option>
            <option value="10h00">10h00</option>
            <option value="10h30">10h30</option>
            <option value="11h00">11h00</option>
            <option value="11h30">11h30</option>
            <option value="12h00">12h00</option>
            <option value="12h30">12h30</option>
            <option value="13h00">13h00</option>
            <option value="13h30">13h30</option>
            <option value="14h00">14h00</option>
            <option value="14h30">14h30</option>
            <option value="15h00">15h00</option>
            <option value="15h30">15h30</option>
            <option value="16h00">16h00</option>
            <option value="16h30">16h30</option>
            <option value="17h00">17h00</option>
            <option value="17h30">17h30</option>
            <option value="18h00">18h00</option>
            <option value="18h30">18h30</option>
            <option value="19h00">19h00</option>
            <option value="19h30">19h30</option>
            <option value="20h00">20h00</option>
            <option value="20h30">20h30</option>
            <option value="21h00">21h00</option>
            <option value="21h30">21h30</option>
            <option value="22h00">22h00</option>
            <option value="22h30">22h30</option>
            <option value="23h00">23h00</option>
            <option value="23h30">23h30</option>
            <option value="24h00">24h00</option>
        </select>
        <%#= f.input "#{day}_start", as: :text, collection: [0,1,2], input_html: { value: "" }, label: false, placeholder: "12h00" %>

          <select class="form-control select optional" name="program[<%= day %>_end]" id="program_<%= day %>_end"><option value=""></option>
            <option value="00h30">00h30</option>
            <option value="01h00">01h00</option>
            <option value="01h30">01h30</option>
            <option value="02h00">02h00</option>
            <option value="02h30">02h30</option>
            <option value="03h00">03h00</option>
            <option value="03h30">03h30</option>
            <option value="04h00">04h00</option>
            <option value="04h30">04h30</option>
            <option value="05h00">05h00</option>
            <option value="05h30">05h30</option>
            <option value="06h00">06h00</option>
            <option value="06h30">06h30</option>
            <option value="07h00">07h00</option>
            <option value="07h30">07h30</option>
            <option value="08h00">08h00</option>
            <option value="08h30">08h30</option>
            <option value="09h00">09h00</option>
            <option value="09h30">09h30</option>
            <option value="10h00">10h00</option>
            <option value="10h30">10h30</option>
            <option value="11h00">11h00</option>
            <option value="11h30">11h30</option>
            <option value="12h00">12h00</option>
            <option value="12h30">12h30</option>
            <option value="13h00">13h00</option>
            <option value="13h30">13h30</option>
            <option value="14h00">14h00</option>
            <option value="14h30">14h30</option>
            <option value="15h00">15h00</option>
            <option value="15h30">15h30</option>
            <option value="16h00">16h00</option>
            <option value="16h30">16h30</option>
            <option value="17h00">17h00</option>
            <option value="17h30">17h30</option>
            <option value="18h00">18h00</option>
            <option value="18h30">18h30</option>
            <option value="19h00">19h00</option>
            <option value="19h30">19h30</option>
            <option value="20h00">20h00</option>
            <option value="20h30">20h30</option>
            <option value="21h00">21h00</option>
            <option value="21h30">21h30</option>
            <option value="22h00">22h00</option>
            <option value="22h30">22h30</option>
            <option value="23h00">23h00</option>
            <option value="23h30">23h30</option>
            <option value="24h00">24h00</option>
          </select>
        <%#= f.input "#{day}_end", as: :text, input_html: { value: "" }, label: false, placeholder: "13h00" %>
      </div>

      <% end %>
    <% end %>

</div>
</div>

<div id="div-adresses" class="hidden"  style="background-image: url(<%= image_path 'background-form.png'%>)">

<div class="go-back" id="go-back3" >
    <%= image_tag "Arrow-left.png", width: 14 %>
</div>

<div class="go-forward no-go" id="go-forward4">
  <%= image_submit_tag "Arrow-right.png", width: 14 %>
</div>

<h2 class ="form-title">Vos piscines :</h2>

<p class="text-blue">Choisissez l'adresse à proximité de laquelle vous souhaitez nager</p>
  <div class="addresses-piscines">
  <% @program.cards_builder.keys.each do |day| %>
      <% if ["1_lundi","2_mardi","3_mercredi","4_jeudi","5_vendredi","6_samedi","7_dimanche"].include? day %>
        <%= f.input "#{day}_address", as: :text, input_html: { value: "" }, label: day[2..-1] %>
    <% end %>
     <% end %>
  </div>
  <%= image_submit_tag "Path 2.png", id: "arrow_last" %>

  <% end %>

</div>
