<div class="container">

<div id= "div-niveau" style="background-image: url(<%= image_path 'background-form.png'%>); background-position: center; background-size: cover">

  <h2 class ="form-title">Votre niveau :</h2>

  <div id= "vingnettes-niveau">

    <div class='label-niveau' id="casedebutant">
      <%= image_tag "Image debutant.png", id: "debutant" %>
      <p>debutant</p>
    </div>

    <div class='label-niveau' id="caseintermediaire">
      <%= image_tag "Image intermediaire.png", id: "intermediaire" %>
      <p>intermediaire</p>
    </div>

    <div class='label-niveau' id="caseexpert">
      <%= image_tag "image expert.png", id: "expert" %>
      <p>expert</p>
    </div>

    <%= simple_form_for @program do |f| %>
    <%= f.input :swimming_level, label: 'Niveau', input_html: {id: "swimming_level"}, as: :hidden %>

  </div>

  <div class="ariane-container">
    <div class="ariane-item-active">1</div>
    <div class="ariane-item">2</div>
    <div class="ariane-item">3</div>
    <div class="ariane-item">4</div>
    <div class="ariane-item ariane-last-item">5</div>
  </div>
    <%= image_tag "Path 2.png", id: "fleche-bas" %>
</div>

<div id= "div-jours" class="hidden background-form">

  <h2 class="form-title">Quels jours ?</h2>

  <div class="form-group program_cards_builder">
    <input type="hidden" name="program[cards_builder][]" value="">

    <div class="category-choices">
      <div class="fake-endweek">
        <p>vendredi samedi dimanche</p>
      </div>
      <div class="pickable-week">
        <% [:lundi, :mardi, :mercredi, :jeudi, :vendredi, :samedi, :dimanche].each do |day|  %>

          <input type="checkbox" class="hidden" value= "<%= day %>" name="program[cards_builder][]" id="program_cards_builder_<%= day %>">

          <label class= "category-choice" for="program_cards_builder_<%= day %>"><%=  day.slice(0..2) %></label>

        <% end %>
      </div>
      <div class="fake-beginweek">
       <p>lundi mardi</p>
      </div>
    </div>

  <div class="ariane-container">
    <div class="ariane-item">1</div>
    <div class="ariane-item-active">2</div>
    <div class="ariane-item">3</div>
    <div class="ariane-item">4</div>
    <div class="ariane-item ariane-last-item">5</div>
  </div>

</div>

<!--     <div class="arrow-submit"> -->
      <%= image_submit_tag "Path 2.png", class: "arrow-submit" %>
<!--     </div> -->
  <% end %>

</div>
</div>
