<div class="container">

<div id= "div-niveau" class="background-form"  style="background-image: url(<%= image_path 'background-form.png'%>)">

  <h2 class ="form-title">Votre niveau :</h2>

  <div id= "vingnettes-niveau">

    <div class='label-niveau' id="casedebutant">
      <%= image_tag "Image debutant.png", id: "debutant" %>
      <p>debutant</p>
    </div>

    <div class='label-niveau' id="caseintermediaire">
      <%= image_tag "Image intermediaire.png", id: "intermediaire" %>
      <p>intermediaire</p>
    </div>

    <div class='label-niveau' id="caseexpert">
      <%= image_tag "image expert.png", id: "expert" %>
      <p>expert</p>
    </div>

    <%= simple_form_for @program do |f| %>
    <%= f.input :swimming_level, label: 'Niveau', input_html: {id: "swimming_level"}, as: :hidden %>

    <%= image_tag "Path 2.png", id: "flèche-bas" %>
  </div>
</div>

<div id= "div-jours" class="hidden background-form"  style="background-image: url(<%= image_path 'background-form.png'%>)">

  <h2 class="form-title">Quels jours ?</h2>

  <div class="form-group program_cards_builder">
    <input type="hidden" name="program[cards_builder][]" value="">

    <div class="category-choices">
    <% [:lundi, :mardi, :mercredi, :jeudi, :vendredi, :samedi, :dimanche].each do |day|  %>

    <input type="checkbox" class="hidden" value= "<%= day %>" name="program[cards_builder][]" id="program_cards_builder_<%= day %>">

    <label class= "category-choice" for="program_cards_builder_<%= day %>"><%=  day %></label>

    <% end %>
    </div>

</div>

  <%= f.submit "créer programme", class: "btn btn-primary" %>

  <% end %>

</div>
</div>
