<div class="container">

<div id= "div-niveau">

  <h1 class ="form-title">NIVEAU</h1>

  <div id= "vingnettes-niveau">

    <div class='label-niveau' id="casedebutant">
      <h2>debutant</h2>
    </div>

    <div class='label-niveau' id="caseintermediaire">
      <h2>intermediaire</h2>
    </div>

    <div class='label-niveau' id="caseexpert">
      <h2>expert</h2>
    </div>

    <%= simple_form_for @program do |f| %>
    <%= f.input :swimming_level, label: 'Niveau', input_html: {id: "swimming_level"}, as: :hidden %>

  </div>

  <div class="go-forward no-go" id="go-forward1">
    <h2>NEXT</h2>
    <%= image_tag "next-line.png"%>
  </div>


</div>

<div id= "div-jours" class="hidden">

  <h1 class="form-title">JOURS</h1>
  <div class="go-back" id="go-back1" >
    <h2>BACK</h2>
    <%= image_tag "back-line.png"%>
  </div>

  <div class="form-group program_cards_builder">
    <input type="hidden" name="program[cards_builder][]" value="">

    <div class="category-choices">
      <% [:lundi, :mardi, :mercredi, :jeudi, :vendredi, :samedi, :dimanche].each do |day|  %>

        <input type="checkbox" class="hidden" value= "<%= day %>" name="program[cards_builder][]" id="program_cards_builder_<%= day %>">

          <label class= "category-choice" for="program_cards_builder_<%= day %>"><%=  day.slice(0..2) %></label>
      <% end %>
    </div>


  </div>

  <div class="go-forward no-go" id="go-forward2">
    <%= f.submit "NEXT", :class => "NEXT-form" %>
    <%= image_tag "next-line.png"%>
  </div>

  <% end %>

</div>
</div>
