<div class="container">

<div id= "div-niveau">

  <h1 class ="form-title">NIVEAU</h1>

  <div id= "vingnettes-niveau">

    <div class='label-niveau' id="casedebutant">
      <h2>DEBUTANT</h2>
    </div>

    <div class='label-niveau' id="caseintermediaire">
      <h2>INTERMEDIAIRE</h2>
    </div>

    <div class='label-niveau' id="caseexpert">
      <h2>EXPERT</h2>
    </div>

    <%= simple_form_for @program do |f| %>
    <%= f.input :swimming_level, label: 'Niveau', input_html: {id: "swimming_level"}, as: :hidden %>

  </div>

  <div class="go-forward" id="go-forward1">
    <h2>NEXT</h2>
    <%= image_tag "next-line.png"%>
  </div>


</div>

<div id= "div-jours" class="hidden background-form">

  <h2 class="form-title">Quels jours ?</h2>

  <div class="form-group program_cards_builder">
    <input type="hidden" name="program[cards_builder][]" value="">

    <div class="category-choices">
      <div class="fake-endweek">
        <p>vendredi samedi dimanche</p>
      </div>
      <div class="pickable-week">
        <% [:lundi, :mardi, :mercredi, :jeudi, :vendredi, :samedi, :dimanche].each do |day|  %>

          <input type="checkbox" class="hidden" value= "<%= day %>" name="program[cards_builder][]" id="program_cards_builder_<%= day %>">

          <label class= "category-choice" for="program_cards_builder_<%= day %>"><%=  day.slice(0..2) %></label>

        <% end %>
      </div>
      <div class="fake-beginweek">
       <p>lundi mardi</p>
      </div>
    </div>

  <div class="go-back" id="go-back1" >
      <%= image_tag "Arrow-left.png", width: 14 %>
  </div>

  <div class="go-forward no-go" id="go-forward2">
    <%= image_submit_tag "Arrow-right.png", width: 14 %>
  </div>

</div>

  <% end %>

</div>
</div>
