
<!-- Logo -->
  <% if user_signed_in? %>

  <!-- Navbar right -->

  <!-- Profile picture with dropdown list -->


    <div class="connected-menu">
      <%= link_to root_path do %>
        Accueil
      <% end %>

      <% if Program.where(user_id: current_user.id).exists? %>
        <%= link_to profile_path do %>
          <%= t(".profile", default: "Profil") %>
        <% end %>
      <% end %>
    </div>

    <div class="connection">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= t(".sign_out", default: "Déconnexion") %>
      <% end %>
    </div>


</div>

  <% else %>
  <!-- Login link (when logged out) -->
    <div class="connection">
      <%= link_to "Connexion", new_user_session_path %>
    </div>
  <% end %>

