<div class="wrapper-home1">
  <div class="dori-home1-content">
    <div class="dori-title">
      <h1> DORI </h1>
    </div>

    <div class="dori-description">
      <p>Générez automatiquement vos séances de natation dans votre calendrier</p>
    </div>

    <div class="button-commencer">
      <%= link_to new_program_path do %>
      <h2>COMMENCER</h2>
      <% end %>
    </div>

  </div>
    <div class="button-scroll-1">
      <%= image_tag ("slide-down.png") %>
    </div>
</div>


<div class="wrapper-home2 hidden">
  <div class="button-scroll-up-1">
    <%= image_tag ("slide-down.png") %>
  </div>
  <div class="dori-home2-content">


    <div class="dori-explanation">
      <p>Propose des programmes adaptés à ton niveau</p>
      <p>Permet de trouver les meilleures piscines à proximité</p>
      <p>Génère un suivi d’entraînement dans Google calendar™</p>
    </div>

  </div>
  <div class="button-scroll-down-2">
    <%= image_tag ("slide-down.png") %>
  </div>
</div>


<div class="wrapper-home3 hidden">
  <div class="button-scroll-up-2">
    <%= image_tag ("slide-down.png") %>
  </div>
  <div class="dori-home3-content">


    <div class="dori-testimonial">
      <div class="open-quotes">
        <%= image_tag ("open-quotes.png") %>
      </div>
      <p>Les entrainements générés par Dori m'ont permis d'être préparé
      à temps pour les derniers jeux olympiques de Rio. Même lorsque ma piscine s'est retrouvé fermé pour travaux, j'ai retrouvé directement une piscine ouverte avec l'application.</p>
      <div class="closed-quotes">
        <%= image_tag ("closed-quotes.png") %>
      </div>
      <div class="action-slider">
        <div class="round-selection"></div>
        <div class="round-selection" id="selected-one"></div>
        <div class="round-selection"></div>
      </div>
    </div>
    <div class="footer">
      <div class="dori-special-text">
        <h2 id="do">DO</h2>
        <h2 id="ri">RI</h2>
      </div>
      <div class="footer-content">
        <div class="first-part">
          <p>FAQ</p>
          <p>Pourquoi Dori?</p>
        </div>
        <div class="second-part">
          <p>L'équipe</p>
          <p>Connexion</p>
        </div>

      </div>

    </div>
  </div>
</div>


