
<div class="container" id="background_cards">

<h2 class="form-title center-program">Votre programme :</h2>

  <div class="row margin">
    <% @program.cards_builder.each do |key, value| %>

      <div class="col-xs-12 col-sm-4">

        <div id="card-new">
          <h2 class="card-title"> <%= key[2..-1].capitalize %> </h2>
          <p class = "blue-content"><%= value["start"] %> - <%= value["end"] %> <br>
            <% if value["okpool"] %>
              <%= value["okpool"]["name"] %> <br>
              <%= value["okpool"]["metro"] %> <br>
              <%= value["okpool"]["address"] %>
          </p>
              <p class = "blue-content"> (<%= value["okpool"]["opening_times"] %>)</p>
            <% end %>
          <h6 id="program_day">Programme du jour: </h6>
          <div id="training_content">
            <p><%= value["training"] %></p>
          </div>
        </div>

      </div>
      <% end %>
    </div>
    <div id='btn-finish-program'>
      <%= link_to "J'ai compris!", profile_path, type: 'button', class: 'btn btn-success btn-lg btn-block' %>
    </div>
  </div>

<%= link_to 'Google', program_send_to_google_path(@program) %>
